03_base_node/node_modules/
03_base_node/tablas/*.txt
04_to_do/node_modules/
05_clima_mundo/node_modules/
06_websever/node_modules/
09_cola_sockets/node_modules/
08_sockets/node_modules/
07_RESTUDEMY/node_modules/
07_RESTSRV/node_modules/
09_cola_sockets/node_modules/
10_chat/node_modules/
10_1_chat/node_modules/
11_type_mysql/node_modules/